      <body>
        <main>
          <article class="content">
            <h1>User Registration</h1>
            <form [formGroup]="registerForm" (ngSubmit)="setRegisterForm()">
      
              <label>Nombre</label>
              <input formControlName="name" placeholder="Introduce un nombre">
      
              <label>Apellidos</label>
              <input formControlName="surname" placeholder="Introduce tus apellidos">
      
              <label>Teléfono</label>
              <input formControlName="name" placeholder="Introduce un teléfono">
      
              <label>Email</label>
              <input formControlName="email" placeholder="Introduce un email">
      
              <label>Contraseña</label>
              <input formControlName="password" placeholder="Introduce una contraseña">
      
              <button>Enviar</button>
              <a routerLink="/">Volver al inicio</a>
            </form>
          </article>
        </main>
      </body>
      
