      <h1>User Registration</h1>
      <form [formGroup]="registerForm" (ngSubmit)="setRegisterForm()">

        <label>Name</label>
        <input formControlName="name">

        <label>Surname</label>
        <input formControlName="name">

        <label>Tel</label>
        <input formControlName="name">

        <label>Email</label>
        <input formControlName="email">

        <label>Password</label>
        <input formControlName="password">

        <button>Submit</button>
          <a routerLink="/">Back to home</a>
      </form>
